/* Constant Colors */
$color-white: #FFFFFF;
$color-black: #000000;

/* SWP Theme Colors */
$color-swp-light-blue: #00a2ff;


/* JOT Wheel Colors */
$nine-o-clock-color-one: #FC740E;
$nine-o-clock-color-two: #FDEF0B;

$eight-o-clock-color-one: #31858F;
$eight-o-clock-color-two: #88F76A;

$six-o-clock-color-one: #6A2DED;
$six-o-clock-color-two: #6FC1FD;

$four-o-clock-color-one: #391787;
$four-o-clock-color-two: #9727C7;

$three-o-clock-color-one: #94004C;
$three-o-clock-color-two: #FB5FA0;
